@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap");
.App {
  font-family: "Libre Bodoni", serif;
  text-align: center;
}
.container {
  padding: 0.5rem;
  text-align: left;
}
.container-center {
  max-width: 350px;
  margin: auto;
}
